<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бонусная система</title>
    <link rel="stylesheet" href="css/first.css">
    <link rel="stylesheet" href="/css/footer.css">

    {{> scripts}}
</head>

<body>

<main>
    <section>
        <h1>Бонусная система</h1>
        <p>Добро пожаловать в нашу бонусную систему! Мы ценим каждого нашего клиента и хотим поощрить вас за покупку товаров в нашем магазине. Присоединяйтесь к нашей бонусной программе и получайте уникальные привилегии и скидки!</p>
    </section>

    <section>
        <h2>Как работает бонусная система?</h2>
        <p>Каждая покупка в нашем магазине приносит вам бонусные баллы, которые можно обменять на скидки или подарки. Чем больше покупок, тем больше бонусов вы получаете!</p>
        <ul>
            <li><strong>Получение баллов:</strong> за каждый потраченный 1 рубль вы получаете 1 бонусный балл.</li>
            <li><strong>Обмен баллов:</strong> 100 бонусных баллов = 100 рублей скидки на следующий заказ.</li>
            <li><strong>Привилегии для постоянных клиентов:</strong> накопив большое количество баллов, вы можете получить доступ к эксклюзивным предложениям и скидкам.</li>
        </ul>
    </section>

    <section>
        <h2>Как стать участником программы?</h2>
        <p>Участие в бонусной системе абсолютно бесплатное. Все, что вам нужно — это зарегистрироваться на нашем сайте и начать делать покупки. Ваши бонусы будут автоматически начисляться на ваш аккаунт.</p>
        <p>После регистрации вы сможете отслеживать количество бонусных баллов в личном кабинете и обменивать их на скидки.</p>
    </section>

    <section>
        <h2>Привилегии для постоянных клиентов</h2>
        <p>Как постоянный клиент нашего магазина, вы получаете не только бонусы, но и доступ к дополнительным привилегиям, таким как:</p>
        <ul>
            <li>Персональные предложения и скидки.</li>
            <li>Приоритетное обслуживание.</li>
            <li>Участие в закрытых распродажах и акциях.</li>
            <li>Специальные подарки к праздникам и дням рождения.</li>
        </ul>
    </section>

    <section>
        <p>Для того чтобы начать получать бонусы, достаточно зарегистрироваться на сайте и оформить свою первую покупку. Чем больше покупок, тем больше бонусов!</p>
    </section>
</main>


</body>
</html>
