<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сотрудничество</title>
    <link rel="stylesheet" href="css/contacts.css">
    <link rel="stylesheet" href="/css/footer.css">

    {{> scripts}}
</head>

<body>


<main>
    <section>
        <h1>Сотрудничество с нами</h1>
        <p>Мы всегда открыты для новых возможностей и рады сотрудничать с партнерами в различных областях музыкальной индустрии. Если вы представляете компанию, которая заинтересована в продаже музыкальных инструментов, студийного оборудования или аксессуаров, мы готовы обсудить условия взаимовыгодного партнерства.</p>
    </section>

    <section>
        <h2>Что мы предлагаем?</h2>
        <ul>
            <li><strong>Оптовые поставки</strong> — возможность приобретать музыкальные инструменты по выгодным ценам для розничных магазинов или интернет-магазинов.</li>
            <li><strong>Партнерские программы</strong> — участие в программах с бонусами и скидками для партнеров, предоставление эксклюзивных предложений.</li>
            <li><strong>Совместные маркетинговые инициативы</strong> — поддержка рекламных кампаний, участие в мероприятиях и выставках для продвижения вашего бренда.</li>
            <li><strong>Развитие бренда</strong> — помощь в продвижении вашего бренда и продуктов среди наших клиентов.</li>
        </ul>
    </section>

    <section>
        <h2>Как начать сотрудничество?</h2>
        <p>Если вы хотите обсудить детали возможного сотрудничества или у вас есть вопросы, пожалуйста, свяжитесь с нами через форму ниже или по телефону. Мы с радостью обсудим условия и предложим оптимальные варианты для вашего бизнеса.</p>
    </section>
</main>



</body>
</html>
