{{!< layouts/main}}

<div class="first">
    <section>
        <h3>
            Ищешь магазин с импортными
            <br/><span style="color: #998C42;"><b>музыкальными инструментами</b></span>
            <br/> по рыночным ценам?<br><br>
        </h3>
    </section>

    <section>
        <img src="Кнопка.svg" alt="Кнопка" class="image1">
        <img src="clef%201.svg" alt="Ключ" class="clef">
        <img src="lines.svg" alt="Линии" class="lines">
        <img src="type.svg" alt="type" class="type">
    </section>
    <section>
        <p class="phrase-blue"> <a href="/test-form">Записаться на тест</a></p>
    </section>

    <section>
        <p class="pp">
            Тогда тебе точно к нам!
        </p>
    </section>
</div>

<div class="second" id="about-us">
    <article>
        <h2 class="titles">
            КТО ТАКИЕ
        </h2>
        <img src="MusicHallW.svg" alt="Logo" class="logow">
        <img src="gor_line.svg" alt="line" class="gor_line">
        <img src="vert_line.svg" alt="line" class="vert_line">
    </article>
    <h4 class="article">
        Наша компания была основана в 2002 году Василием Новиковым в честь своего прадеда и музыканта
        Бориса Новикова. Мы продаем импортные музыкальные инструменты в России с 2002 года, и с тех
        пор мы уже успели продать 14.000 музыкальных инструментов.
    </h4>

    <aside>
        Вы можете приобрести у нас любой инструмент на ваш вкус. Мы с радостью предоставим для вас
        отдельное пространство в наших магазинах для тестинга вашего нового помощника в производстве музыки!
    </aside>
</div>