<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    {{> scripts}}
</head>
<body>


<main class="user-details">
    <h1>Добавить пользователя</h1>
    <form action="/user" method="POST">
        <label>Имя: <input type="text" name="firstName" required /></label>
        <label>Фамилия: <input type="text" name="lastName" required /></label>
        <label>Email: <input type="email" name="email" required /></label>
        <label>Телефон: <input type="text" name="phone" required /></label>
        <label>Начальные бонусы: <input type="number" name="bonusPoints" value="0" min="0" required /></label>
        <button type="submit" class="card-button">Сохранить</button>
    </form>
</main>


</body>
</html>
